
/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 1rem 0 2rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 15rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--barlow);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}



/* End Banner Area */ 

/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--barlow);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 


/* Start Brand Area */ 

.site-main .brand-area{
    height: 100vh;
    width: 100%;
    background: url(../img/project.png);
    background-size: cover;
    background-position: center;
    display: table;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--barlow);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--barlow);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

/* End Brand Area */ 

/* Services Area */ 

#services{
    height: 100vh;
    width: 100%;
    background: url(../img/services/background.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
  }
  
  /* #services .text-container{
      background-color: rgba(0, 0, 0, 0.541);
  } */
  

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}
 
.site-main .services-area .services-title h1{
    font-size: 35px;
}


.site-main > .services-area .services{
    background: rgba(255, 255, 255, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    box-shadow: var(--box-shadow);
    display: block;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    transition: box-shadow .7s ease;
}

.services:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #007bff93;
    height: 50px;
    width: 50px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.4s ease-out;
  }
  .services:hover:before {
    transform: scale(30);
  }
  
  .services:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  .services:hover h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }




/* End Services Area */ 


/* Project Area */ 
.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--barlow);
    text-transform: uppercase;
    transition: .4s ease-in;
}

.site-main .project-area .button-group button:hover{
    color: #007bff;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--barlow);
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

@media(max-width:600px){
    .site-main .project-area .button-group button{
        font: normal 500 14px/70px var(--barlow);
    }
}

/* End Project Area */ 

/* Sevice Offer */


/* Subscribe me */ 

.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--barlow);
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 350px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--barlow);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
    margin: .5rem .5rem;
}


/* End subscribe me */ 

/* Footer Area */ 


/* End Footer */ 

/* Start Client Say */

/* Client Say Start */
#Testimonials{
    background-image: url(../img/testimonials/client_say.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    overflow: hidden;
}
#client_say{
	/* float: left; */
	position: relative;
	padding: 30px 0;
	z-index: 1;
	width: 100%;
}

.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 50%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: #007aff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	right: -30px;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
	left: -30px;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: -15px;
	background: rgba(6,27,65,0.4);
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: -15px;
	background: rgba(6,27,65,0.4);
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #f5f6fa;
	border:1ps solid #f1f1f1;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}
.testimonials-text .listing-rating{
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}
.listing-rating i{
	color: #007aff;
}
.testimonials-avatar h3{
	font-weight: 600;
	color: #7d93b2;
	font-size: 18px;
}
.testimonials-avatar h4{
	 font-weight:400;
	 font-size:12px;
	 padding-top:6px;
	 color:#007aff;
}
.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}	 
.testi-avatar{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 20;
}
.testi-avatar img{
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border:6px solid #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.swiper-slide-active .testimonials-text {
	background: #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.testimonials-text p{
	color: #878c9f;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}
.text-link{
	position: absolute;
	bottom:0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: #f9f9f9;
	border:1px solid #eee;
	box-shadow: 0 10px 15px rgba(0,0,0,0.03);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
	text-align: center;
	margin-top: 5px;
	width: 100% !important;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
    margin-bottom: 10px;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
    margin-bottom: 10px;

}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: #384f95;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}

/* End Client Say */

/* Start Team */

#team{
    margin: 10px 0;
    padding: 30px 20px;
    background-image: url(../img/team/our_team.png);
    height: 130vh;
    width: 100%;
    background-size: cover;
    background-position: center;

}

@media(max-width:992px){
    #team{
        margin: 10px 0;
        padding: 30px 20px;
        background-image: url(../img/team/our_team.png);
        height: 160vh;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}

.wrapper{
    position: relative;
    width: 350px;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255,255,255,0.05);
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    border-top:1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    display: flex;
    height: 250px;
    transition: .4s;
}

.wrapper:hover{
    height: 450px;
}
.wrapper .img-area{                                                      
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100px);
    transition: .4s;
  }

  .wrapper:hover .img-area{
    height: 200px;
    width: 200px;
    transform: translateY(0px);
}

  .img-area .inner-area{
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
  }
  .inner-area img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(40, 7, 185);
  }
  .wrapper .name{
      font-size: 23px;
      font-weight: 500;
      color: white;
      margin: 10px 0 5px 0;
  }
  .wrapper .about{
      color: white;
      font-weight: 400;
      font-size: 16px;
  }
  /* profile social */
  .profile-social{
      width: 100%;
      height: auto;
      margin: 7px 0;
  }

  .profile-social ul {
    padding:0 20px;
    display:flex;
  }
  
  .profile-social ul li {
    list-style: none;
    transform: translateX(-400px);
    transition: .4s;
  }

  .wrapper:hover .profile-social ul li{
    transform: translateX(0px);
  }
  
  .profile-social ul li a {
    position: relative;
    width:40px;
    height:40px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: rgba(255,255,255,0.05);
    transition: .5s;
  }
  
  .profile-social ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  
  .profile-social ul li a .fab {
    width: 100%;
    height:100%;
    display:block;
    background: rgba(255,255,255,0.05);
    border-radius: 50%;
    /* line-height: calc(60px - 12px); */
    margin: 7px 0;
    font-size:17px;
    color: #262626;
    transition: .5s;
  }
  
  .profile-social ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
  }
  
  .profile-social ul li:nth-child(2) a:hover .fab {
    color: #00aced;
  }
    
  .profile-social ul li:nth-child(3) a:hover .fab {
    color: #0e00d8;
  }
  
  .profile-social ul li:nth-child(4) a:hover .fab {
    color: #e2210f;
  }
 /* button*/
 .wrapper .buttons{
     display: flex;
     width: 100%;
     justify-content: space-between;
     transform: translateY(100px);
     transition: .4s;
 }
 .buttons button,.buttons-remove{
     position: relative;
     width: 50%;
     color: rgb(0, 0, 0);
     outline: none;
     padding: 12px 0;
     border: none;
     margin: 0 auto;
     background: rgba(255,255,255,0.05);
     backdrop-filter: blur(15px);
     border-top: 1px solid rgba(255,255,255,0.2);
     border-left: 1px solid rgba(255,255,255,0.2);
     box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
     font-size: 17px;
     font-weight: 400;
     border-radius: 5px;
     cursor: pointer;
     z-index: 4;
 }
 

 .wrapper:hover .buttons{
    transform: translateY(0px);
 }


/* End Team */

/* Footer Start */

footer{ 
    margin-top: 100px;
    padding: 20px 10px;
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #040125;

}

footer .footer_box{
    position:relative;
    top:-80px;
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer_box a{
    height: 50px;
    padding: 14px 10px;
    font: normal 500 16px/20px var(--barlow);
    border-radius: 4px;
    text-decoration: none;
    background: var(--gradient-color);
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

footer .footer_box .footer_text h3{
    color: #040125;
    text-transform: uppercase;
    font-weight: bold;
}

footer .footer_box .footer_text h4{
    color: #040125;
    text-transform: uppercase;
}

@media(max-width:600px){
    
footer .footer_box a{
    height: 50px;
    padding: 14px 10px;
    font: normal 500 12px/16px var(--barlow);
    text-decoration: none;
}

footer .footer_box .footer_text h3{
    color: #040125;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

footer .footer_box .footer_text h4{
    color: #040125;
    text-transform: uppercase;
    font-size: 15px;

}
}

footer .footer_logo{
    text-align: center;
}

footer .footer_logo h4{
    margin-bottom: 15px;
    font-weight: bold;
    color: #eee;
    text-align: center;
}
footer .footer_logo p{
    color: rgba(238, 238, 238, 0.657);
}
footer .footer_services{
   text-align: center;
}

footer .footer_services h4{
    margin-bottom: 15px;
    font-weight: bold;
    color: #eee;
    text-align: center;

}
footer .footer_services ul{
    list-style: none;
}

footer .footer_services ul li{
    color: rgba(238, 238, 238, 0.657);
    font-size: 18px;
    padding: 5px 0;
}
footer .footer_about h4{
    margin-bottom: 15px;
    font-weight: bold;
    color: #eee;
    text-align: center;

}

footer .footer_about{
    text-align: center;
   
 }

footer .footer_about ul{
    list-style: none;
}

footer .footer_about ul li{
    color: rgba(238, 238, 238, 0.657);
    font-size: 18px;
    padding: 5px 0;
}
footer .footer_about ul li a{
    text-decoration: none;
    color: rgba(238, 238, 238, 0.657);
    transition: .3s;
}

footer .footer_about ul li a:hover{
    color: #007aff;
}

footer .contact_us{
    text-align: center;
 }

footer .contact_us h4{
    margin-bottom: 15px;
    font-weight: bold;
    color: #eee;
    text-align: center;

}

footer .contact_us ul{
    list-style: none;
}

footer .contact_us ul li{
    color: rgba(238, 238, 238, 0.657);
    font-size: 18px;
    padding: 5px 0;
}
footer .contact_us ul li a{
    text-decoration: none;
    color: rgba(238, 238, 238, 0.657);
    transition: .3s;
}

footer .contact_us ul li a:hover{
    color: #007aff;
}
/* End Footer */

/* Start Loader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* End Loader */